{% extends 'base.html' %}
{% block content %}
    <main>
        <section id="experience">
            <div class="experience-title-group">
                <div class="experience-title-background"></div>
                <h1 class="experience-title">Experience</h1>
            </div>

            <div class="add-button-group container">
                <a href="{% url 'main:create_experience' %}"
                    class="button add-button add-button-experience button-color2">
                    <span aria-hidden="true">+</span>
                    Add Experience
                </a>
            </div>

            <form method="get"
                      action="{% url 'main:show_experience' %}"
                      class="search-bar container">
                    <input type="search"
                           name="title"
                           value="{{ title_query }}"
                           placeholder="Find experience name"
                           class="search-bar__input"
                           aria-label="Find experience name">
                    <button type="submit" class="button find-button-experience button-color2">Find</button>
            </form>

            <div class="container experience-group">
                <div class="experience-list">
                    {% for experience in experience_list %}
                        <div class="experience-content1">
                            <span class="experience-category">
                                {{ experience.get_category_display }}
                            </span>
                            <h2 class="experience-content-title">{{ experience.title }}</h2>
                            <p>
                                {{ experience.description }}
                            </p>

                            {% if experience.is_ongoing %}
                                <p class="experience-status">Ongoing</p>
                            {% else %}
                                <p class="experience-status">Completed</p>
                            {% endif %}
                        </div>
                        <div class="actions-group">
                            <a href="{% url 'main:edit_experience' experience.id %}" class="button button-color2">Edit</a>
                            {% include "components/experience_delete_modal.html" with experience=experience %}
                        </div>
                        {% empty %}
                        {% if title_query %}
                            <p class="empty-state">No experience is found.</p>
                        {% else %}
                            <p class="empty-state">
                                No experience has been added yet.</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}  